#main {
  position: fixed;
  top: 0;
  left: 0;
  width: 796px;
  height: 376px;
  background-color: #FF6600;
  color: #EEE;
  font-family: sans-serif;
}

body{
  margin: 0;
}

@font-face{
  font-family: "Luckiest Guy";
  src: url(../font/LuckiestGuy.ttf) format("truetype");
}

#trackinfo {
  margin-left: 50px;
}

#track {
  position: absolute;
  left: 20px;
  top: 55px;
}

#trackimg {
  margin-left: 100px;
  display: inline;
}

#trackimg img{
  border: 4px solid black;
}

#closebutton {
  position: absolute;
  top: 0px;
  left: 675px;
  width: 85px;
  height: 80px;
}

#closeimage {
  margin-left: 20px;
}

.now {
  position: absolute;
  top: 5px;
  left: 30px;
  display: inline;
  width: 200px;
  height: 80px;
}

.search {
  position: absolute;
  top: 5px;
  left: 250px;
  display: inline;
  width: 105px;
  height: 80px;
}

.login {
  position: absolute;
  top: 5px;
  left: 385px;
  display: inline;
  width: 105px;
  height: 80px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 796px;
  font-family: "Luckiest Guy", sans-serif;
  border-bottom: 2px solid #CCC;
  /*padding-top: 10px;*/
  background-color: #666;
  height: 50px;
  /*margin-bottom: 5px;*/
  font-size: 28px;
  color: #FF6600;
}

nav.now #now,
nav.search #search,
nav.login #login,
{
  background-color:#000;
}

.innershadow {
-moz-box-shadow: inset 0 0 10px #000000;
-webkit-box-shadow: inset 0 0 10px #000000;
box-shadow: inset 0 0 10px #000000;
}

a {
  color: #FF6600;
}


#searchbar {
  margin: 20px;
}

#loginform {
  margin-left: 20px;
}

#loginform button {
  margin-left: 20px;
}