#main {
  position: fixed;
  top: 0;
  left: 0;
  width: 796px;
  height: 376px;
  background-color: #FF6600;
  color: #EEE;
  font-family: sans-serif;
}

body{
  margin: 0;
}

@font-face{
  font-family: "Luckiest Guy";
  src: url(../font/LuckiestGuy.ttf) format("truetype");
}

#track {
  position: absolute;
  left: 20px;
  top: 55px;
}

#trackinfo{
  position: absolute;
  top: 0px;
  left: 35px;
  width: 700px;
  color: #333;
}

#previous {
  position: absolute;
  left: 15px;
  top: 100px;
  height: 85px;
  width: 85px;
  padding: 10px;
}

#play {
  position: absolute;
  top: 75px;
  left: 105px;
  width: 128px;
  height: 128px;
}

#next {
  position: absolute;
  top: 100px;
  left: 240px;
  width: 85px;
  height: 85px;
  padding: 10px;
}

progress {
  position: absolute;
  top: 220px;
  left: 90px;
}

#time {
  position: absolute;
  top: 220px;
  left: 265px;
  width: 150px;
  font-size: 18px;
}

#trackimg {
  position: absolute;
  top: 60px;
  left: 420px;
}

#trackimg img{
  border: 4px solid black;
  width: 146px;
  height: 146px;
}

#closebutton {
  position: absolute;
  top: 0px;
  left: 675px;
  width: 85px;
  height: 80px;
  padding-left: 30px;
}

#closeimage {
  margin-top: 5px;
}

.now {
  position: absolute;
  top: 10px;
  left: 30px;
  display: inline;
  width: 200px;
  height: 80px;
  padding: 5px;
}

.search {
  position: absolute;
  top: 5px;
  left: 250px;
  display: inline;
  width: 105px;
  height: 80px;
  padding: 10px;
}

.login {
  position: absolute;
  top: 5px;
  left: 390px;
  display: inline;
  width: 105px;
  height: 80px;
  padding: 10px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 796px;
  font-family: "Luckiest Guy", sans-serif;
  border-bottom: 2px solid #CCC;
  /*padding-top: 10px;*/
  background-color: #333;
  height: 50px;
  /*margin-bottom: 5px;*/
  font-size: 28px;
  color: #FF6600;
}

.innershadow {
-moz-box-shadow: inset 0 0 10px #000000;
-webkit-box-shadow: inset 0 0 10px #000000;
box-shadow: inset 0 0 10px #000000;
}

a {
  color: #FF6600;
  text-decoration: none;
}

a:hover {
  color: white;
}

#searchpills button {
  color: #FF6600;
  font-size: 20px;
  background-color: #333;
  padding-top: 5px;
  color: white;
}

#artists {
  position: absolute;
  top: 105px;
  left: 40px;
  width: 55px;
  height: 55px;
  padding: 15px;
}

#tracks {
  position: absolute;
  top: 105px;
  left: 160px;
  width: 75px;
  height: 55px;
  padding: 15px;
}

#playlists {
  position: absolute;
  top: 105px;
  left: 280px;
  width: 85px;
  height: 55px;
  padding: 15px;
}

#searchpress {
  position: absolute;
  width: 290px;
  height: 75px;
  padding: 10px;
  top: 240px;
  left: 45px;
}

#searchbar {
  position: absolute;
  top: 175px;
  left: 55px;
}

#searchbar input {
  width: 300px;
  height: 40px;
  font-size: 29px;
}

#searchingby {
  font-size: 29px;
  position: absolute;
  top: 15px;
  left: 55px;
  color: #333;
}

#searchbutton {
  position: absolute;
  color: #FF6600;
  font-size: 24px;
  background-color: #333;
  padding-top: 10px;
  color: white;
}

#searchresults{
  position: absolute;
  font-size: 18px;
  top: 85px;
  left: 455px;
}

#logheader {
  font-size: 29px;
  position: absolute;
  top: 45px;
  left: 55px;
  color: #333;
}

#loginform form input{
  width: 300px;
  height: 36px;
  font-size: 29px;
}

#username {
  position: absolute;
  top: 135px;
  left: 55px;
  font-size: 22px;
  color: #333;
}

#password {
  position: absolute;
  top: 195px;
  left: 60px;
  font-size: 22px;
  color: #333;
}

#logbuttons {
  position: absolute;
  top: 255px;
  font-size: 22px;
  color: white;
}

#logbuttons .submit, .clear {
  position: absolute;
  height: 85px;
  width: 99px;
}

.submit {
  position: absolute;
  left: 55px;
}

.clear{
  position: absolute;
  left: 195px;
}

#logbuttons button {
  color: white;
  font-size: 24px;
  background-color: #333;
  padding-top: 10px;
  margin-right: 30px;
}