<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>SoundBoard</title>
  <meta name="description" content="An in-dash proof of concept for the SoundCloud API">
  <meta name="author" content="Sean O'Donohue">  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/app.css">
  
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body ng-app="app" id="main" class="innershadow"> 
   <header class="innershadow" id="branding" ng-controller="DisplayController as display">
     <img src="img/Close-2-icon.png" alt="" id="closebutton">
     <nav class="{{display.getActive()}}">
       <ul class="nav nav-tabs" id="sb-tabs">
        <li class = "now">
          <a href="#/" ng-click="display.setNav('now')">
          Now Playing 
          </a>       
        </li>
        <li class = "search">
          <a href="#/search" ng-click="display.setNav('search')">
          Search  
          </a>      
        </li>
        <li class = "login">
          <a href="#/login" ng-click="display.setNav('login')">
          Log In 
          </a>    
        </li>
      </ul>
    </nav>
   </header>
    
  <ng-view></ng-view>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
  <script src="bower_components/plangular/dist/plangular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="http://connect.soundcloud.com/sdk.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>

</body>
</html>