<div ng-controller="loginController as login">
    <div class="container" id="loginform">
        <h3 id="logheader">Log In to SoundCloud</h3>
        <form role="form">
            <div id="username">
                <label for="code">Username</label>
                <input ng-model="login.user" type="text" class="form-control" />
            </div>
            <div id="password">
                <label for="code">Password</label>
                <input ng-model="login.pw" type="password" class="form-control input-normal" />
            </div>
    </div>
    <div id="logbuttons">
        <div class="submit">
            <a href="#/">
                <button type="submit">Submit</button>
            </a>
        </div>
        <div class="clear">
            <button type="clear" ng-mousedown="login.reset()">Clear</button>
        </div>
    </div>
    </form>
</div>
</div>