<div class="container" id = "loginform">
    <h3 id = "logheader">Log In to SoundCloud</h3>
    <form role="form">
        <div id = "username">
            <label for="code">Username</label>
            <input type="text" class="form-control" />
        </div>
        <div id = "password">
                <label for="code">Password</label>
                <input type="text" class="form-control input-normal" />
            </div>
        </div>
        <div id = "logbuttons">
            <button type="submit">Submit</button>
            <button type="clear">Clear</button>
        </div>
    </form>
</div>