<div class="container" id = "loginform">
    <h3 id = "logheader">Log In to SoundCloud</h3>
    <form role="form">
        <div class="row">
            <div class="form-group col-xs-5">
                <label for="code">Username</label>
                <input type="text" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-5 ">
                <label for="code">Password</label>
                <input type="text" class="form-control input-normal" />
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-default">Submit</button>
            <button type="clear" class="btn btn-default">Clear</button>
        </div>
    </form>
</div>