<div ng-controller ="PlayerController as ham">
  <div plangular="https://soundcloud.com/platform/tracks" id="track"> 
    <div ng-repeat="track in tracks | limitTo: 1" >
<!-- | filter: {player.playing === track.src} -->
      <h3 id="trackinfo">
        {{track.user.username}} - {{track.title}}
      </h3> 
      <div ng-click="previous()" id="previous">
        <img src="img/previous.png" >  
      </div>
      <div ng-click="playPause($index); ham.togglePlay()" id="play">
        <img src="img/play-icon.png" alt=""  ng-hide="ham.nowPlaying()"> 
        <img src="img/pause-icon.png" ng-hide="!ham.nowPlaying()">  
      </div>
      <div id="next">
        <img src="img/next.png" ng-click="next()">
      </div> 
      <small id="time">
        {{ currentTime | hhmmss }} | {{ duration | hhmmss }}
      </small>
      <progress ng-value="currentTime / duration || 0">
        {{ currentTime / duration || 0 }}
      </progress>      
          
      <div id="trackimg">
          <img ng-src="{{ track.artwork_url  }}" alt="{{ track.title }}" />
      </div>
      <div id="view-link">
          <a ng-href="{{ track.permalink_url }}">View on SoundCloud</a>
      </div>
    
    </div>
    
  </div>
</div>