<div ng-controller ="PlayerController as ham">
  <div plangular="https://soundcloud.com/platform/tracks" id="track"> 
    <div ng-repeat="track in tracks | limitTo: 1" >
<!-- | filter: {player.playing === track.src} -->
      <h3>
        {{track.user.username}} - {{track.title}}
      </h3> 
      <img src="img/previous.png" ng-click="previous()">  
      <img src="img/play-icon.png" alt="" ng-click="play($index); ham.togglePlay()" ng-hide="ham.nowPlaying()"> 
      <img src="img/pause-icon.png" ng-click="pause(); ham.togglePlay()" ng-hide="!ham.nowPlaying()">   
      <img src="img/next.png" ng-click="next()"> 
      <progress ng-value="currentTime / duration || 0">
        {{ currentTime / duration || 0 }}
      </progress>      
      <small>
        {{ currentTime | hhmmss }} | {{ duration | hhmmss }}
      </small>    
      <div id="trackimg">
          <img ng-src="{{ track.artwork_url  }}" alt="{{ track.title }}" />
      </div>
      <div id="view-link">
          <a ng-href="{{ track.permalink_url }}">View on SoundCloud</a>
      </div>
    
    </div>
    
  </div>
</div>