<div class="row">
    <div id = "searchbar" class="form-group col-xs-5">
        <label for="code">Search</label>
        <input type="text" class="form-control" />
    </div> 
    <div id = "searchpills">
    	<ul class="nav nav-pills" role="tablist">
  			<li role="presentation" class="active"><a href="#/search">Artists</a></li>
  			<li role="presentation" class="active"><a href="#/search">Tracks</a></li>
  			<li role="presentation" class="active"><a href="#/search">Playlists</a></li>
		</ul>
    </div>
</div>